@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap'); /* font-family: 'Roboto', sans-serif; */

/*variavel*/
:root{
    --color-purple: #6c4fbb;
    --color-white: white;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    background:#101014 ;
    color: var(--color-white);
}

header{
    padding: 30px;
    background: #131217;
    border-bottom: 1px solid #17171d;
}

.links{
    text-align: center;
}

.links a{
    margin:0 20px;
    color: var(--color-white);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.links a:hover{
    color: var(--color-purple);
    transition: color 250ms;
}

#wrapper{
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

#wrapper img{
    height: 225px;
    border-radius: 150px 10px;
    margin: 20px;
    border: 2px solid var(--color-white);
}

#wrapper img:hover{
    box-shadow: 0px 1px 10px rgba(194, 194, 194, 0.3);
}

#wrapper h1 {
    padding: 10px 0;
    
}

#wrapper h1 a{
    font-size: 34px;
    line-height: 44px;
    font-weight: bold;
    opacity: 0.9;
    border-bottom: 2px solid var(--color-purple);
}

#wrapper h2{
    font-size: 22px;
    line-height: 38px;
    opacity: 0.8;
}

#wrapper p{
    max-width: 600px;
    margin: 16px auto;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

#wrapper ul {
    margin-top: 40px;
}

#wrapper ul li{
    display: inline;
    padding: 0 20px;
    font-weight: bold;
}

footer{
    margin: 50px;
}

footer a{
    border-bottom: 1px solid var(--color-purple);
}


/* ==== CARDS ==== */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.card{
    display: grid;
    grid-template-rows: 1fr 1fr 80px;
    height: 450px;
    background-color: var(--color-purple);
}

.card_img-container{
    width: 250px;
    height: 175px;
    padding: 10px;
}

.card_img-container img{
    width: 100%;
    height: 100%;
}

.card_content, .card_info {
    padding: 12px;
    text-align: center;
    margin: auto;
}

.card_content{
    font-weight: bold;
}

.card_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_info a, .card_info p  {
    padding: 10px 10px;
    color: var(--color-white);
}

.card_price{
    background: var(--color-purple);
    filter: brightness(85%);
    border-radius: 25px;
    padding: 10px 10px;
    font-weight: bold;
}

