{% extends "layout.html" %}

{% block content %}
<main class="description">
    <div class="description-content">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.
        </p>
    </div>
    <div class="description-img">
        <img src="./assets/chef.png" alt="" srcset="">
    </div>
</main>

<div class="top-acess">
    <p>Mais acessados</p>
</div>

<section class="cards">
    {% for item in items %}
    <article class="card">
        <div class="card-img">
            <img src="{{item.image}}" alt="Burger">
        </div>

        <div class="card-content">
            <p>{{item.title}}</p>
        </div>

        <div class="card-autor">
            <p>{{item.author}}</p>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}