{%extends "layout.html"%}

{% block content%}
        <article class="card">
            <section>
                <div class="info-card-img">
                    <img src="{{info.image}}" alt="Burger">
                </div>

                <div class="info-card-content">
                    <p>{{info.title}}</p>
                </div>

                <div class="info-card-autor">
                    <p>{{info.author}}</p>
                </div>

                <section class="ingredients-recites">
                    <div class="title-ingredients">
                        <h1>Ingredientes</h1> 
                        <a>ESCONDER</a>
                    </div>

                    <ul>
                        {% for ingridient in ingredients %}
                            <li>{{ingridient}}</li>
                        {%endfor%}
                    </ul>

                </section> <!-- fim ingredients-recites -->

                <section class="ingredients-recites">
                    <div class="title-ingredients">
                        <h1>Modo de preparo</h1> 
                        <a>ESCONDER</a>
                    </div>

                    <ul>
                        {% for preparation in preparations %}
                            <li>{{preparation}}</li>
                        {%endfor%}
                    </ul>

                </section> <!-- fim ingredients-recites -->

                <section class="ingredients-recites">
                    <div class="title-ingredients">
                        <h1>Informações adicionais</h1> 
                        <a>ESCONDER</a>
                    </div>

                    <p>
                       {{info.information}}
                    </p>
                    
                </section> <!-- fim ingredients-recites -->

            </section>
        </article>
    {% endblock %}