<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Foodfy</title>
    <link rel="shortcut icon" href="./assets/chef.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <a href="./"><img src="./assets/logo.png" alt="Logo Foodfy" srcset=""></a>
                <div class="options">
                    <a href="./about.html">Sobre</a>
                    <a href="./food-recipes.html">Receitas</a>
                </div>
            </nav>
        </header>

        <article class="card">
            <section>
                <div class="info-card-img">
                    <!--  <img src="./assets/burger.png" alt="Burger"> -->
                </div>

                <div class="info-card-content">
                    <p>Triplo bacon burger</p>
                </div>

                <div class="info-card-autor">
                    <p>por Jorge Relato</p>
                </div>

                <section class="ingredients-recites">
                    <div class="title-ingredients">
                        <h1>Ingredientes</h1> 
                        <a>ESCONDER</a>
                    </div>

                    <ul>
                        <li>3 kg de carne moída (escolha uma carne magra e macia);</li>
                        <li>300 g de bacon moído;</li>
                        <li>1 ovo;</li>
                        <li>3 colheres (sopa) de farinha de trigo;</li>
                        <li>3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola, pimenta e cheiro verde
                            processados no liquidificador;</li>
                        <li>30 ml de água gelada;</li>
                    </ul>

                </section> <!-- fim ingredients-recites -->

                <section class="ingredients-recites">
                    <div class="title-ingredients">
                        <h1>Ingredientes</h1> 
                        <a>ESCONDER</a>
                    </div>

                    <ul>
                        <li>3 kg de carne moída (escolha uma carne magra e macia);</li>
                        <li>300 g de bacon moído;</li>
                        <li>1 ovo;</li>
                        <li>3 colheres (sopa) de farinha de trigo;</li>
                        <li>3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola, pimenta e cheiro verde
                            processados no liquidificador;</li>
                        <li>30 ml de água gelada;</li>
                    </ul>

                </section> <!-- fim ingredients-recites -->

                <section class="ingredients-recites">
                    <div class="title-ingredients">
                        <h1>Informações adicionais</h1> 
                        <a>ESCONDER</a>
                    </div>

                    <p>
                        Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres!
                    </p>

                    <p>
                        Você sabia que a receita que precede o hambúrguer surgiu no século XIII, na Europa? A ideia de moer a carne chegou em Hamburgo no século XVII, onde um açogueiro resolveu também temperá-la. Assim, a receita foi disseminada nos Estados Unidos por alemães da região. Lá surgiu a ideia de colocar o hambúrguer no meio do pão e adicionar outros ingredientes, como queijom tomates e alface.
                    </p>

                </section> <!-- fim ingredients-recites -->

            </section>
        </article>
    </div>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <script src="./js/scripts.js"></script>
</body>

</html>