@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap'); /* font-family: 'Roboto', sans-serif; */

/*variavel*/
:root{
    --color-purple: #6c4fbb;
    --color-white: white;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

html{
    display: grid;
    background:#101014 ;
    color: var(--color-white);
}

header{
    padding: 30px;
    background: #131217;
    border-bottom: 1px solid #17171d;
    margin-bottom: 20px;
}

.links{
    text-align: center;
}

.links a{
    margin:0 20px;
    color: var(--color-white);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.links a:hover{
    color: var(--color-purple);
    transition: color 250ms;
}

#wrapper{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

#wrapper img{
    width: 100%;
    max-width: 325px;
    min-width: 50px;
    height: auto;
    border-radius: 150px 10px;
    border: 2px solid var(--color-white);
}

#wrapper img:hover{
    box-shadow: 0px 1px 10px rgba(194, 194, 194, 0.3);
}

#wrapper h1 {
    padding: 10px 0;
    margin-top: 20px;
}

#wrapper h1 a{
    font-size: 34px;
    line-height: 44px;
    font-weight: bold;
    opacity: 0.9;
    border-bottom: 2px solid var(--color-purple);
}

#wrapper h2{
    font-size: 22px;
    line-height: 38px;
    opacity: 0.8;
}

#wrapper p{
    max-width: 600px;
    margin: 16px auto;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

#wrapper ul {
    margin-top: 40px;
}

#wrapper ul li{
    display: inline;
    padding: 0 20px;
    font-weight: bold;
}

.social_networks {
    margin: 50px;
}

.social_networks a{
    border-bottom: 1px solid var(--color-purple);
}

footer{
    margin: 35px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* ==== CARDS ==== */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.card{
    display: grid;
    grid-template-rows: 1fr 100px 80px;
    height: 100%;
    
    background-color: var(--color-purple);
    cursor: pointer;
}

.card_img-container{
    margin: auto;
    height: auto;
}

.card_img-container img{
    width: 100%;
    height: auto;
}

.card_content, .card_info {
    padding: 12px;
    text-align: center;
    margin: auto;
}

.card_content{
    font-weight: bold;
}

.card_info{
    display: grid;
    grid-template-columns: 100px 100px;
}

.card_info p  {
    padding: 10px 10px;
    color: var(--color-white);
}

.card_price{
    background: var(--color-purple);
    filter: brightness(85%);
    border-radius: 25px;
    font-weight: bold;
}

/*==== MODAL ====*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay .modal {
    height: 65%;
    width: 65%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10vh auto;
    position: relative;
}

.close-modal, .max-modal{
    color: black;
    position: absolute;
    top: 5px;
    cursor: pointer;
}

.close-modal{
    right: 10px;
}

.max-modal{
    right: 50px;
}


/*==== MODAL.ACTIVE ====*/

.modal.maximize {
    height: 95%;
    width: 95%;
    margin: 2vh auto;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 30px
}

/* === PAGE VIDEO === */
.video {
    margin: 20px auto;
    max-width: 800px;
    max-height: 100vw;
}

.card_video-container {
    height: 100%;
    width: 100%;
}
.card_video-container iframe {
    height: 500px;
    width: 100%;
}

