{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block content %}

    <div id="wrapper" class="links">
        <img src="{{data.avatar_url}}" alt="Logo Rockeseat">
        <h1>
            <a href="https://rocketseat.com.br/" target="_blank" rel="noopener noreferrer">Rocketseat</a>
        </h1>
        <h2>{{data.title}}</h2>
        <p>{{data.description}}</p>

        <ul>
            {% for tech in data.techs %}
                <li>{{tech}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="social_networks links">
        {% for link in data.links %}

            <a href="{{link.url}}" target="_blank" rel="noopener noreferrer">{{link.name}}</a>

        {% endfor %}
    </div>

{% endblock %}