<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block head %}

    {% endblock %}
    
    <title>Sobre</title>

    <link rel="shortcut icon" href="/views/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="/" rel="noopener noreferrer">Sobre</a>
            <a href="/portfolio" rel="noopener noreferrer">Aulas</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}

<footer>
    <p>Elaborado por Gustavo Henrique.</p>
</footer>
</body>

</html>